@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap');
.box1{
    width:300px;
    height:300px;
    position: relative;
    background-color:#45A29E;
    /* left:px; */
    display: inline-block;
    border-radius: 10px;
}

.box2{

    position: absolute;

    display: inline-block;
    
}

@media screen and (min-width:992px){
    .box1{
        height: 300px;
        width: 300px;
    }
    .box2{
        width:300px;
        height:300px;
        left:40px;
        top:30px;
    }
}

@media screen and (max-width: 991px) {
    .box1{
        width:200px;
        height:200px;
    }
    .box2{
        width:200px;
        height:200px;
        left:30px;
        top:20px;
    }
  }

.box2 img{
    border-radius: 10px;
}

.about-head{
    text-align:center;
    padding:10px;
    font-size: 3rem;
    color:#1F2833;
}

.abt-txt{
    font-family: 'Cairo', sans-serif;
    text-align:justify;
}

.about-text{
    font-size:1.5rem;
    color:#45A29E;
    padding:10px;
}