
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap');

.header{
    font-family: 'Cairo', sans-serif;
    height:95vh;
    background-color: #1F2833;
    color:#66FCF1;
}

.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width:100%;
    transform: translate(-50%, -50%);
    text-align:center;

}
.name-txt{
    text-decoration: underline 8px;
    text-decoration-color: red;
}

.detail-text{
    color:#C5C6C7;
}
@media screen and (min-width:992px){
    .hello-txt{
        font-size: 230%;
    }
    
    .name-txt{
        font-size:300%;
    }
    
    .detail-text{
        font-size:150%;
    }
    
}

a{
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .hello-txt{
        font-size: 2rem;
    }
    
    .name-txt{
        font-size:2rem;
        text-decoration: underline;
    }
    
    .detail-text{
        font-size:1rem;
    }
  }

  .angle-color{
      cursor:pointer;
      position: absolute;
    font-size:26px;
    animation:transit 5s linear 2s infinite;
  }

  .angle-color:hover{
      font-size:36px;
  }

  @keyframes transit{
    0%   {color:#C5C6C7;opacity:0.6;}
    25%  {color:#C5C6C7;opacity:1;}
    50%  {color:#66FCF1;opacity:1;}
    100% {color:#66FCF1;opacity:0.6;}
  }