    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    .nav-bg{
        background-color: #1F2833;
        padding-top: 2%;
    }

    .nab-bgg{
        background-color:white ;
    }

    .navbar-text{
        color:#66FCF1;
        font-family: 'Permanent Marker', cursive;
        opacity: 0.8;
        font-size: 3rem;
    }

    .navbar-text:hover{
        opacity: 1;
    }

    .navbar-txt{
        color:#66FCF1;
        opacity: 0.8;
    }

    .navbar-txt-bold{
        opacity:1;
    }

    .navbar-txt:hover{
        opacity: 1;
    }